* {
  /* margin: 0px; */
  /* padding: 0px; */
  /* border: 0px none; */
  /* vertical-align: baseline; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.app {
  margin-top: 20px;
}
.ios-bar {
  margin-top: 20px;
}
.big-icon {
  font-size: 10em;
}
.huge-icon {
  font-size: 30em;
}

.kchung {
  position: relative;
  width: 98.5%;
  margin: 0 auto;
}

.player {
  width: 310px;
}

.play-pause {
  margin-top: 0px;
}

.metadata {
  margin-top: 50px;
  font-family: courier, sans-serif;
  color: #fff;
  font-size: inherit;
  line-height: 17px;
  letter-spacing: 0px;
  text-transform: lowercase;
}

.hidden {
  display: none;
  opacity: 0;
}
