* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  box-sizing: border-box;
}

html,
body {
  font-family: courier, sans-serif;
  background-color: red;
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: lowercase;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
a:hover {
  background: white;
  color: red;
}
a.no-hover:hover {
  background: red;
  color: white;
}
p a:link {
  text-decoration: underline;
}

#banner {
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------------------------------------- */
/* Navbar */

#nav {
  border-style: solid;
  border-left: none;
  border-right: none;
  border-width: 2px;
  display: flex;
  flex-wrap: wrap;
}

#nav > * {
  margin-right: 1em;
  white-space: nowrap;
}

@media screen and (max-width: 420px) {
  #nav > * {
    margin-right: 0;
    width: 50%;
  }

  #nav {
    flex-direction: row;
  }

  #left, #right {
    display: flex;
    flex-direction: column;
  }
}

/* -------------------------------------------------------------------------- */
/* Main */

#main {
  margin: 1em auto;
  width: 80%;
}

@media screen and (max-width: 420px) {
  #main {
    margin: 1em auto;
    width: 100%;
  }
}

/* -------------------------------------------------------------------------- */
/* Mailchimp Mailinglist Form */

#mc_embed_signup {
  background: white;
  color: red;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 45%;
  margin: 0 auto;
}

@media screen and (max-width: 420px) {
  #mc_embed_signup {
    background: white;
    color: red;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    width: 100%;
    margin: 0;
  }
}

/* -------------------------------------------------------------------------- */
/* Stream Page Main Grid */

.stream {
  display: grid;
  grid-template-areas:
    'player'
    'metadata'
    'chatbox';
  gap: 10px;
  padding: 10px;
}

.stream > div {
  padding: 1em 0;
  font-size: 1.5em;
}

.player {
  grid-area: player;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 60%;
}

.metadata {
  grid-area: metadata;
  text-align: center;
}

.metadata > div {
  font-size: 0.75em;
}

.chatbox {
  grid-area: chatbox;
  margin: 0 auto;
  width: 100%;
}

.player-main {
  line-height: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-public {
  line-height: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  margin-left: auto;
}

#trackName, #showName {
  overflow-wrap: anywhere;
}

/* chat widget */
.theme--minimal {
  color: white;
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/* Archive Page */

#archive {
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* Google Translate */

/* removes icon from google translate */
img.goog-te-gadget-icon {
  display: none;
}
#google_translate_element {
  position: absolute;
  right: 0px;
}

/* -------------------------------------------------------------------------- */
/* Stream Player */

.big-icon {
  font-size: 3em;
  margin-right: 0.5em;
}

.hidden {
  display: none;
  opacity: 0;
}
