#!/usr/bin/env bash

# This file provides some tooling on an opt-in basis via `direnv`
# (https://direnv.net/)

# To use the functionality here, create an `.envrc.local` file in this folder
# that runs the functions you need.
# There is an example in `.envrc.local.example` you can start with

# this line sources your `.envrc.local` file
source_env_if_exists .envrc.local
